/* #clearButton{
    background-color: navy;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    height: 50px;
    border-color:brown;
    color: white;
}

#uppercasebtn{
    background-color:aqua;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 200;
    width: 250px;
    height: 50px;
    
}

#lowercasebtn{
    background-color:violet;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 200;
    width: 250px;
    height: 50px;
} */